*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
}

.navbar{
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color:#EFC9FA;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #848A98;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #ffffff;
    border: #2F4C73 3px solid;
    box-shadow: 0 10px #2F4C73 ;
    color: #2F4C73;
    font-size: 1.5rem bold;

}

.button:hover{
    background: #2F4C73;
    color: #ffffff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #EFC9FA;
    transition: all 0.3s ease;
}

/* Contact Section */
.main{
    background-color: #ffffff;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__img--container{
    text-align: center;
}

#main__img {
    height: 100%;
    width: 100%;
} 

.main__content{
    align-items: center;
    justify-items: center;
}

.main__content h1 {
    font-size: 4.5rem;
    background-color: #2F4C73;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content h2{
    font-size: 3.5rem;
    background-color: #2F4C73;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}



@media screen and (max-width: 960px) {
    
    .navbar__container{
        display: flex;
        justify-content: space-around;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 20px;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 70px;
        z-index: -1;
        background: #ffffff;
    }
    
    #mobile-menu{
        height: 30px;
        width: 30px;
        margin-right: 15px;

    }

    .menu1 .navbar__menu.active{
        background: #ffffff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 0px;
    }

    .menu1 .navbar__toggle{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #2F4C73;
    }

    .menu1  .navbar__item {
        width: 100%;
    }

    .menu1  .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .menu1  .navbar__btn {
        padding-bottom: 2rem;
    }

    .menu1 .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        border-radius: 40px;
    }

    .main__img--container{
        display: none;
    }
}

/*Mobile Responsive*/
@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 2rem;
        margin-top: 2rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main__content-form{
        text-align: center;
    }

    .main__img--container{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .main__content h1{
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    .main__img--container{
        display: none;
    }
}